<div style="width: 50%;">
    <div>Listado</div>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="date">Date</th>
        <th mat-sort-header="value">Values</th>
        <th mat-sort-header="state">State</th>
        <th mat-sort-header="stateDetail">State Details</th>
      </tr>
      <tr *ngFor="let value of sortedValues">
        <td>{{value.date.toLocaleString()}}</td>
        <td>{{value.value}}</td>
        <td>{{value.state}}</td>
        <td>{{value.stateDetail}}</td>
      </tr>
    </table>
</div>

