.content {
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 600px;
  margin: auto;
  padding: 10px;
  .contentList{
    overflow: auto;
    max-height: 500px;
  }
  .list-group-item{
    span{ margin-right: 20px; }
    
    ::ng-deep .mat-sort-header-arrow {
      color:black;
    }
  }
  .hover-action:hover {
    background-color: rgb(232, 238, 243);
  }
}