<div class="content">
  <app-filter-by-values (emitValues)="emitListener($event)"></app-filter-by-values>
  <table matSort (matSortChange)="sortData($event)" class="list-group-item active">
    <tr>
      <th mat-sort-header="date" style="padding-left: 30px;">Date</th>
      <th mat-sort-header="value" style="padding-left: 70px;">Values</th>
      <th mat-sort-header="state">State</th>
      <th mat-sort-header="stateDetail">State Details</th>
    </tr>
  </table>
  <div class="contentList" (scroll)="onTableScroll($event)">
    <mat-list>
      <mat-list-item *ngFor="let item of filteredList" class="list-group-item hover-action">
        <p matLine >
          <span> {{item.date.toLocaleString()}}</span>
          <span> {{item.value}} </span>
          <span> {{item.state}} </span>
          <span> {{item.stateDetail}} </span>
        </p>
        <app-item-details [listItem]="item"></app-item-details>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item *ngIf="filteredList.length === 0">No items Found</mat-list-item>
    </mat-list>
  </div>
</div>

